################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Gallery Flare/Gallery Flare/Tests.robot
