################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Gallery Flare/Gallery Flare/Tests.robot
/Gallery Flare/Gallery Flare/report.html
/Gallery Flare/Gallery Flare/output.xml
/Gallery Flare/Gallery Flare/log.html
/Gallery Flare/.vs
/Gallery Flare/Tests/GalleryFlareTests/.vs/GalleryFlareTests
/Gallery Flare/Tests/GalleryFlareTests/GalleryFlareTests/bin/Debug/netcoreapp3.1
/Gallery Flare/Tests/GalleryFlareTests/GalleryFlareTests/obj
